header {
    background-color: rgb(57, 57, 237);
    margin: 10px;
    color: white;
    display: flex;
    text-align: center;
}

.content {
    display: flex;
    
}

.search {
    min-height: 100vh;
}

.searchBox {
    display: flex;
    flex-direction: column;
}

.searchBtn {
    margin-top: 10px;
}

.day-forecast{
    background-color: rgb(101, 101, 223);
    padding: 20px;
    margin: 20px;
    color: white;
    border-radius: 10px;
    width: 200px;
}